@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card h1 {
    @apply mb-6;
  }

  .card a:link {
    color: #575e67;
    font-weight: bold;
  }

  .card a:hover {
    color: hotpink;
  }

  .card img {
    @apply mt-6 mb-6 mx-auto;
  }

  .card p {
    @apply mt-6;
  }

  .card h2 {
    @apply mt-6 text-2xl;
  }

  .card ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  .card ol {
    display: block;
    list-style-type: space-counter;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }
}
