/* Hero.module.css */

.outlinedImage {
  position: relative;
}

.outlinedImage::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid #00ffcc; /* Neon color */
  border-radius: 10px; /* Adjust as needed */
  z-index: -1;
  opacity: 0.7; /* Adjust the opacity as needed */
  box-shadow: 0 0 20px 10px #00ffcc; /* Neon glow effect */
}
